body{
    background-color: #707168;
}

table {
    width: 800px;
    height: 550px;
    background-color: #5d5b59;
    border: hidden;
    position: absolute;
    left: 20%;
    top: 5%;
}

.td_band {
    background-color: #c1b8ad;
}